@import "sizes";
@import "colors";
@import "positioning";

html, body{
  height:100%;
}

#ng-view{
  width:100%;
  height:100%;
}

.md-button{
  min-width: 1%;
  min-height: 1%;
  margin:0px;
}

.row{
  margin-left:0px;
  margin-right:0px;
}
