
    <div id="screenContainer" class="full-width padding-md">
        <p class="verticalCenter textRight side-padding-xs">{{screen}}</p>
    </div>
    <div id="buttonsContainer" class="full-width padding-md">

            <div class="row top-bottom-padding-xs">
                    <div class="side-padding-xs col-xs-3">
                            <md-button ng-click="clear()" class="full-width md-raised md-primary operation">{{clearValue}}</md-button>
                    </div>
                    <div class="side-padding-xs col-xs-3">
                            <md-button ng-click="printToScreen(parenthesisLeftValue)" class="full-width md-raised md-primary operation">{{parenthesisLeftValue}}</md-button>
                    </div>
                    <div class="side-padding-xs col-xs-3 ">
                            <md-button ng-click="printToScreen(parenthesisRightValue)" class="full-width md-raised md-primary operation">{{parenthesisRightValue}}</md-button>
                    </div>
                    <div class="side-padding-xs col-xs-3 ">
                            <md-button ng-click="addOperator(divisionValue)" class="full-width md-raised md-primary operation">{{divisionValue}}</md-button>
                    </div>
            </div>

        <div class="row top-bottom-padding-xs">
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(sevenValue)" class="full-width md-raised md-primary">{{sevenValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(eightValue)" class="full-width md-raised md-primary">{{eightValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3 ">
                <md-button ng-click="printToScreen(nineValue)" class="full-width md-raised md-primary">{{nineValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3 ">
                <md-button ng-click="addOperator(multiplicationValue)" class="full-width md-raised md-primary operation">{{multiplicationValue}}</md-button>
            </div>
        </div>

        <div class="row top-bottom-padding-xs">
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(fourValue)" class="full-width md-raised md-primary">{{fourValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(fiveValue)" class="full-width md-raised md-primary">{{fiveValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3 ">
                <md-button ng-click="printToScreen(sixValue)" class="full-width md-raised md-primary">{{sixValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3 ">
                <md-button ng-click="addOperator(minusValue)" class="full-width md-raised md-primary operation">{{minusValue}}</md-button>
            </div>
        </div>

        <div class="row top-bottom-padding-xs">
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(oneValue)" class="full-width md-raised md-primary">{{oneValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(twoValue)" class="full-width md-raised md-primary">{{twoValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3 ">
                <md-button ng-click="printToScreen(threeValue)" class="full-width md-raised md-primary">{{threeValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3 ">
                <md-button ng-click="addOperator(additionValue)" class="full-width md-raised md-primary operation">{{additionValue}}</md-button>
            </div>
        </div>

        <div class="row top-bottom-padding-xs">
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(zeroValue)" class="full-width md-raised md-primary">{{zeroValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-3">
                <md-button ng-click="printToScreen(dotValue)" class="full-width md-raised md-primary">{{dotValue}}</md-button>
            </div>
            <div class="side-padding-xs col-xs-6 ">
                <md-button ng-click="equal()" class="full-width md-raised md-primary">{{equalValue}}</md-button>
            </div>
        </div>

    </div>

